# Email Dennis for the keys used here.
yelp:
  endpoint: http://api.yelp.com
  ratings_threshold: 3.5
  consumer_key: YELP_OAUTH_CONSUMER_KEY
  consumer_secret: YELP_OAUTH_CONSUMER_SECRET
  access_token: YELP_OAUTH_ACCESS_TOKEN
  access_secret: YELP_OAUTH_ACCESS_SECRET

upcoming:
  api_key: UPCOMING_API_KEY
  endpoint: "http://upcoming.yahooapis.com/services/rest/"
