<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>

        <title>Instadate - Date ideas, instantly!</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        
        <!-- Style Sheets -->
        <link rel="stylesheet" href="stylesheets/desktop/reset.css" type="text/css" media="screen, projection" />
        <link rel="stylesheet" href="stylesheets/desktop/style.css" type="text/css" media="screen, projection" />
        
        <!-- Include Scripts -->    
        <script type="text/javascript" src="javascripts/jquery.js"></script>
        <script type="text/javascript" src="javascripts/desktop/jquery.backgroundPosition.js"></script>
        <script type="text/javascript" src="javascripts/desktop/jquery.equalize.js"></script>
        <script type="text/javascript" src="javascripts/desktop/jquery.cycle.lite.min.js"></script>
        <script type="text/javascript" src="javascripts/desktop/jquery.pngFix.pack.js"></script>
        <script type="text/javascript" src="javascripts/desktop/custom.js"></script> 
    
    </head>

<body>

<!-- Start Main Container -->
<div id="container">


    <!-- Start Header -->
    <div id="header">
    
        <div id="header-main">
        
            <!-- Start Header Wrapper -->
            <div class="wrapper">
            
                <h1 class="logo">AppShow Logo</h1>
                <table><tr><td>
                <div class="intro">
                
                    <p> <span style="color:#9DE;">Instadate</span> makes planning dates fast, easy, and fun - Get it now!</p>
        </td><td>
                 
         <!--
            <p class="app-store"><a class="replace" href="http://itunes.apple.com/us/app/tweetdeck/id429654148?mt=8&ls=1" target="_blank" title="Buy App Name">Available on the iPhone App Store</a></p>
        -->
        
        
        </td></tr></table>
        
        
                </div>
                
            </div><!-- End Header Wrapper -->
            
        </div>
        
    </div><!-- End Header -->
    
    
    <!-- Start Main Container -->
    <div id="mainContent">
    
        <!-- Start Main Content Wrapper -->
        <div class="wrapper">
        
            <!-- Start Content Wrapper -->
            <div id="content">
                
                <ul id="tabs">
                    <li data-panel="features_panel" class="current">Features</li>
            <li data-panel="about_panel" >About</li>
                    <br class="clear" />
                </ul>
    
                
        
                <!-- Start Features Panel -->
                <div id="features_panel" class="panel">
                
                    <ul class="features">
                    
                        <li>
                            <h2 class="clock">Instantly Plan</h2>
                            <p>Never get stuck without ideas of what to do on a date. Instadate does the hard work for you by picking awesome nearby to go.</p>
                        </li>
                        
                        <li>
                            <h2 class="plus">Share with Friends</h2>
                            <p>Once you've discovered the perfect date, share it with your friends on Facebook, Twitter, or email!</p>
                        </li>
                        
                       
                        
                    </ul>
                    
                </div><!-- End Features Panel -->
             
            <!-- Start About Panel -->
                <div id="about_panel" class="panel hide">
                
                    <ul class="about">
                    
                        <li>
                            <h2 class="speechmedia">The Story of Instadate</h2>
                            <p>Instadate was created after too many "dinner and a movie" dates. With so much to see in the world, Instadate is here to help discover new things.</p>
                <br>
                <p>Have something to share with us? Contact us at <a target='_blank' href="mailto:team@instadateapp.com?subject=Instadate%20Feedback">team@instadateapp.com</a>!</p>
                        </li>
                        
                    </ul>
                    
                </div><!-- End About Panel -->      
        
                

            
                
                
                
                <!-- Start Footer -->
                <div id="footer">
                
                    <!-- Right Footer 
                    <div id="footer-right">
                    
                        <div id="footer-subscribe">
                        
                            <form method="post" action="">
                                <input id="email" type="text" onfocus="if (this.value == 'enter your email to subscribe!') {this.value = '';}" onblur="if (this.value == '') {this.value = 'enter your email to subscribe!';}" value="enter your email to subscribe!">
                                <input type="submit" value="submit" id="email-submit">
                            </form>
                        
                        </div>
                        
                        <div id="social-icons">
                        
                            <a title="Facebook" href="#"><img src="images/social-icons/facebook.png" border="0" /></a>
                            <a title="Twitter" href="#"><img src="images/social-icons/twitter.png" border="0" /></a>
                            <a title="Google +" href="#"><img src="images/social-icons/googleplus.png" border="0" /></a>
                            <a title="LinkedIN" href="#"><img src="images/social-icons/linkedin.png" border="0" /></a>
                            <a title="Flickr" href="#"><img src="images/social-icons/flickr.png" border="0" /></a>
                            <a title="Vimeo" href="#"><img src="images/social-icons/vimeo.png" border="0" /></a>
                            <a title="RSS Feed" href="#"><img src="images/social-icons/feed.png" border="0" /></a>
                        
                        </div>
                    
                    </div>
            -->
                
                
                    
                    
                    <!-- Left Footer -->
                    <p class="footer-left">
                    
                        Copyright © 2012 Instadate
                    
                    
                    
                    </p><!-- End Left Footer -->
                    
                    <br class="clear" />
                    
                </div><!-- End Footer -->

            </div><!-- End Content Wrapper -->
            
            
            <!-- Start iPhone Mockup -->
            <div id="iphone">
            
                <ul id="slides">
                    <li><img src="images/desktop/screens/home.jpg" alt="Account screen" border="0" /></li>
                    <li><img src="images/desktop/screens/dates.jpg" alt="Account screen" border="0" /></li>
                    <li><img src="images/desktop/screens/details.jpg" alt="Account screen" border="0" /></li>
                </ul>
                
                <a href="#" id="homebutton" title="Get Instadate Now!">Click Me</a>
               
            </div><!-- End iPhone Mockup -->
            
        </div><!-- End Wrapper -->
        
    </div><!-- End Main Content -->
    
</div><!-- End Main Container -->

</body>
</html>