<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

    <head>

        <title>Oyster - Activity ideas, instantly!</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        
        <!-- Style Sheets -->
        <link rel="stylesheet" href="../stylesheets/desktop/reset.css" type="text/css" media="screen, projection" />
         <!-- <link rel="stylesheet" href="../stylesheets/desktop/style.css" type="text/css" media="screen, projection" />  -->

		<link rel="stylesheet" href="../stylesheets/desktop/permalink-style2.css" type="text/css" media="screen, projection" />
		<link href="../stylesheets/jquery.mobile-1.1.1.min.css" media="all" rel="stylesheet" type="text/css" />

		<!-- <link href='http://fonts.googleapis.com/css?family=Terminal+Dosis:400,700' rel='stylesheet' type='text/css' /> -->
		<!-- <link href="../stylesheets/main.css" media="all" rel="stylesheet" type="text/css" /> -->
		<link href="../stylesheets/woody.css" media="all" rel="stylesheet" type="text/css" />
		<link href="../stylesheets/woody.min.css" media="all" rel="stylesheet" type="text/css" />
		<link href="../stylesheets/woody_mods.css" media="all" rel="stylesheet" type="text/css" />
		<link href="../stylesheets/desktop/desktop_story.css" media="all" rel="stylesheet" type="text/css" /> 
        
        <!-- Include Scripts -->    
        <script type="text/javascript" src="../javascripts/jquery.min.js"></script>
		<script type="text/javascript">
			window.ranOnce = false;
		</script>
		<script type="text/javascript" src="../javascripts/jquery.mobile-1.1.1.min.js"></script>
        <script type="text/javascript" src="../javascripts/desktop/jquery.backgroundPosition.js"></script>
        <script type="text/javascript" src="../javascripts/desktop/jquery.equalize.js"></script>
        <script type="text/javascript" src="../javascripts/desktop/jquery.cycle.lite.min.js"></script>
        <script type="text/javascript" src="../javascripts/desktop/jquery.pngFix.pack.js"></script>
        <script type="text/javascript" src="../javascripts/desktop/custom.js"></script>
		<script type="text/javascript" src="../javascripts/ICanHaz.min.js"></script>
        <script type="text/javascript" src="../javascripts/desktop/desktop_story.js"></script> 
    
    </head>

<body>

<!-- Start Main Container -->
<div id="container">


    <!-- Start Header -->
    <div id="header">
    
        <div id="header-main">
        
            <!-- Start Header Wrapper -->
            <div class="wrapper">
            
                <h1 class="logo">OysterMe Logo</h1>
                <table><tr><td>
                <div class="intro">
                
                    <p> <span style="color:#ffffff;">Oyster makes planning</br>activities fast, easy, and fun.</span></p>
                    
					<p class="app-store"><a class="replace" href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=578149487&mt=8" target="_blank" title="Get OysterMe">Available on the iPhone App Store</a></p>
        
        </td></tr></table>
        
        
                </div>
                
            </div><!-- End Header Wrapper -->
            
        </div>
        
    </div><!-- End Header -->
    
    
    <!-- Start Main Container -->
    <div id="mainContent">
    
        <!-- Start Main Content Wrapper -->
        <div class="wrapper">
        
            <!-- Start Content Wrapper -->
            <div id="content">
                
                <ul id="tabs">
                    <li data-panel="features_panel" class="current">Features</li>
            <li data-panel="about_panel" >About</li>
                    <br class="clear" />
                </ul>
    
                
        
                <!-- Start Features Panel -->
                <div id="features_panel" class="panel">
                
                    <ul class="features">
                    
                        <li>
                            <h2 class="clock">Instantly Plan</h2>
                            <p>Never get stuck without ideas of what to do on a date. OysterMe does the hard work for you by picking awesome nearby spots.</p>
                        </li>
                        
                        <li>
                            <h2 class="plus">Share with Friends</h2>
                            <p>Once you've discovered the perfect activity, share it with your friends on Facebook, Twitter, or email!</p>
                        </li>
                        
                       
                        
                    </ul>
                    
                </div><!-- End Features Panel -->
             
            <!-- Start About Panel -->
                <div id="about_panel" class="panel hide">
                
                    <ul class="about">
                    
                        <li>
			                            <h2 class="speechmedia">The Story of OysterMe</h2>
			                            <p>OysterMe was created one day after waking up with no plans. The world was our oyster so we made an app to help discover more.</p>
			                <br>
			                <p>Have something to share with us? Contact us at <a target='_blank' href="mailto:team@oyster.me?subject=OysterMe%20Feedback">team@oyster.me</a>!</p>
                        </li>
                        
                    </ul>
                    
                </div><!-- End About Panel -->      
        
                

            
                
                
                
                <!-- Start Footer -->
                <div id="footer">
                
                    <!-- Right Footer -->
		    
                    <div id="footer-right">
                    
                        <!--
			<div id="footer-subscribe">
                        
                            <form method="post" action="">
                                <input id="email" type="text" onfocus="if (this.value == 'enter your email to subscribe!') {this.value = '';}" onblur="if (this.value == '') {this.value = 'enter your email to subscribe!';}" value="enter your email to subscribe!">
                                <input type="submit" value="submit" id="email-submit">
                            </form>
                        
                        </div>
		
			-->
			
                        
                        <div id="social-icons">
			    
			    <h2>Follow Us</h2>
                            <a target='_blank' title="Facebook" href="https://www.facebook.com/oysterme"><img src="../images/desktop/social-icons/facebook.png" border="0" /></a>
                            <a target='_blank' title="Twitter" href="https://twitter.com/#!/oysterme"><img src="../images/desktop/social-icons/twitter.png" border="0" /></a>
                        
                        </div>
                    
                    </div>
                
                
                    
                    
                    <!-- Left Footer -->
                    <p class="footer-left">Copyright © 2012 Oyster</p>
                    <!-- End Left Footer -->
                    
                    <br class="clear" />
                    
                </div><!-- End Footer -->

            </div><!-- End Content Wrapper -->
            
            
            <!-- Start iPhone Mockup -->
            <div id="iphone">
             <a href="https://itunes.apple.com/WebObjects/MZStore.woa/wa/viewSoftware?id=578149487&mt=8" target="_blank" id="homebutton" title="Get OysterMe Now!"></a>
               <%= partial(mypartial) %>
                
               
            </div><!-- End iPhone Mockup -->
            
        </div><!-- End Wrapper -->
        
    </div><!-- End Main Content -->
    
</div><!-- End Main Container -->

</body>
<script type="text/javascript">window.ranOnce
$(function() { 
	if (!window.ranOnce) {
	console.log ("Creating	 story");
		console.log (<%= results %>);
		initialize_story(<%= results %>);
		window.ranOnce = true;
	}
});
</script>
</html>